@model IEnumerable<SalonWebApplication.Models.CustomerViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Customers</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Create New</a>
</p>
<table id="tblData" class="table">
    <thead>
        <tr>
            @* <th>
                    @Html.DisplayNameFor(model => model.CustomerId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CustomerFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerOccupation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerTRN)
            </th>
            <th>@Html.Label("Actions")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.CustomerFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerDOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerContact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerOccupation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerTRN)

                </td>
                <td style="min-width:85px !important">

                    <a asp-action="Edit" class="btn-warning" asp-route-id="@item.CustomerId "> <i class="fas fa-edit" aria-hidden="true"> </i></a>   |
                    <a asp-action="Details" class="btn-success" asp-route-id="@item.CustomerId "> <i class="fa fa-info-circle" aria-hidden="true"> </i></a>  |
                    <a asp-action="Delete" class="btn-danger" asp-route-id="@item.CustomerId " onclick="return confirm('Are you sure you would like to delete this piece of information?? ')"> <i class="fas fa-trash-alt"></i></a>  



                </td>

            </tr>
        }
    </tbody>
</table>

@section scripts    {
    <script>
        $(document).ready(function () {
            $('#tblData').DataTable();
        });
    </script> }
}