@model IEnumerable<SalonWebApplication.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Employees</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Create New</a>
</p>
<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeDOb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeContact)
            </th>
            <th>@Html.Label("Actions")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    <img src="~/uploads/employee_images/@item.EmployeeImg" width="50" height="50" />
                    @*@Html.DisplayFor(modelItem => item.EmployeeImg)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeDOb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeGender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeContact)
                </td>
                <td style="min-width:85px !important">

                    <a asp-action="Edit" class="btn-warning" asp-route-id="@item.EmployeeId "> <i class="fas fa-edit" aria-hidden="true"> </i></a>   |
                    <a asp-action="Details" class="btn-success" asp-route-id="@item.EmployeeId "> <i class="fa fa-info-circle" aria-hidden="true"> </i></a>  |
                    <a asp-action="Delete" class="btn-danger" asp-route-id="@item.EmployeeId" onclick="return confirm('Are you sure you would like to delete this piece of information?? ')"> <i class="fas fa-trash-alt"></i></a>




                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts    {
    <script>
        $(document).ready(function () {
            $('#tblData').DataTable();
        });
    </script> }